.sidebar {
  width: 250px;
  background-color: #DCEFE4;
  color: #225A47;
  height: 100vh;
  padding-top: 20px;
  position: fixed;
  overflow-y: auto;
  transition: width 0.3s ease;
  z-index: 1000;
  left: 0;
  top: 0;
}

.sidebar.closed {
  width: 70px;
}

/* Oculta textos cuando está comprimido */
.sidebar.closed .logo-text,
.sidebar.closed mat-list-item span {
  display: none;
}

.sidebar-logo {
  width: 50px;
  height: auto;
  margin-bottom: 10px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
  color: inherit;
}

.logo-text {
  margin-left: 10px;
}

.logo-text h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #2e6a47;
}

.logo-text p {
  margin: 0;
  font-size: 14px;
  color: #4c9e71;
}

button.mat-icon-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar.closed button.mat-icon-button {
  right: 5px;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item span {
  margin-left: 10px;
  color: #225A47;
  display: inline;
}

/* ✅ Fuerza sidebar comprimido en responsive */
@media (max-width: 768px) {
  .sidebar {
    width: 70px !important;
  }

  .sidebar .logo-text,
  .sidebar mat-list-item span {
    display: none !important;
  }

  button.mat-icon-button {
    display: none;
  }
}
