.sidenav-container {
  display: flex;
  height: 100vh;
}

mat-sidenav {
  width: 250px; /* Ancho cuando está abierto */
  background-color: #DCEFE4; /* Color de fondo del sidebar */
  color: #225A47; /* Color de texto */
}

mat-sidenav[ng-reflect-mode="side"] {
  position: fixed;
  z-index: 10;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item.active {
  background-color: #DCEFE4;
}

button.mat-icon-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}


mat-list-item span {
  margin-left: 10px;
  color: #225A47;
}

/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Ajusta el espaciado superior según lo necesites */
  margin-left: 15px; /* Espacio a la izquierda */
}

.sidebar-logo {
  width: 50px; /* Ajusta el tamaño del logo */
  height: auto;
  margin-bottom: 10px; /* Espacio entre el logo y el texto */
  margin-right: 10px;
}

.logo-text {
  justify-content: center;
  margin-left: 10px;
}

/* Estilo para el texto */
.logo-text h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #2e6a47; /* Color verde para "GWM" */
}

.logo-text p {
  margin: 0;
  font-size: 14px;
  color: #4c9e71; /* Color verde para "Grow With Me" */
}

/* Opcional: Asegura que el logo siempre se vea bien en pantallas pequeñas */
@media (max-width: 768px) {
  .sidebar-logo {
    width: 40px; /* Tamaño más pequeño en pantallas móviles */
  }

  .logo h1 {
    font-size: 20px; /* Ajuste en el tamaño del texto */
  }

  .logo p {
    font-size: 12px;
  }
}

/* Cuando el sidebar está contraído */
mat-sidenav[ng-reflect-mode="side"]:not([opened]) {
  width: 70px;  /* Reducido a solo mostrar los íconos */
}

/* Estilo para los íconos cuando el sidebar está minimizado */
mat-list-item span {
  display: inline;
}

mat-sidenav[ng-reflect-mode="side"]:not([opened]) mat-list-item span {
  display: none;
}


