<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="sidebar">
      <div class="logo">
        <img src="../../../../assets/images/Logo.png" alt="Logo" class="sidebar-logo" />
        <div class="logo-text">
          <h1>GWM</h1>
          <p>Grow With Me</p>
        </div>
      </div>

      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>{{ isSidebarOpen ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      </button>

      <mat-nav-list>
        <!-- Farmer menu -->
        <ng-container *ngIf="role === 'farmer'">
          <mat-list-item routerLink="/devices">
            <mat-icon>wifi</mat-icon>
            <span *ngIf="isSidebarOpen">My Devices</span>
          </mat-list-item>
          <mat-list-item routerLink="/crops" class="active">
            <mat-icon>nature</mat-icon>
            <span *ngIf="isSidebarOpen">My Crops</span>
          </mat-list-item>
          <mat-list-item routerLink="/notifications">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="isSidebarOpen">My Notifications</span>
          </mat-list-item>
          <mat-list-item routerLink="/consultor">
            <mat-icon>person</mat-icon>
            <span *ngIf="isSidebarOpen">My Consultant</span>
          </mat-list-item>
        </ng-container>

        <!-- Consultant menu -->
        <ng-container *ngIf="role === 'consultant'">
          <mat-list-item routerLink="/farmers">
            <mat-icon>group</mat-icon>
            <span *ngIf="isSidebarOpen">Farmers</span>
          </mat-list-item>
          <mat-list-item routerLink="/crops">
            <mat-icon>nature</mat-icon>
            <span *ngIf="isSidebarOpen">Crops</span>
          </mat-list-item>
          <mat-list-item routerLink="/notifications">
            <mat-icon>notifications</mat-icon>
            <span *ngIf="isSidebarOpen">Notifications</span>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
