<div class="sidenav-container">
  <div #sidebar id="sidebar" class="sidebar open">
  <button #sidebarIcon class="icon-button material-icons toggle-btn" (click)="toggleSidebar()">
  chevron_left
  </button>

    <a class="logo" href="/home">
      <img src="../../../../assets/images/Logo.png" alt="Logo" class="sidebar-logo" />
      <div class="logo-text">
        <h1>GWM</h1>
        <p>Grow With Me</p>
      </div>
    </a>

    <nav class="nav-list" id="nav-list">
      <div class="nav-item" data-role="farmer">
        <a href="/devices">
          <span class="icon">📶</span>
          <span class="label">My Devices</span>
        </a>
      </div>
      <div class="nav-item" data-role="farmer">
        <a href="/crops" class="active">
          <span class="icon">🌱</span>
          <span class="label">My Crops</span>
        </a>
      </div>
      <div class="nav-item" data-role="farmer">
        <a href="/notifications">
          <span class="icon">🔔</span>
          <span class="label">My Notifications</span>
        </a>
      </div>
      <div class="nav-item" data-role="farmer">
        <a href="/consultants">
          <span class="icon">👤</span>
          <span class="label">My Consultant</span>
        </a>
      </div>
    </nav>
  </div>
</div>