.main-content {
  margin-left: 250px;
  padding: 80px;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 2px solid #5DAA8A;
  margin: 10px 0;
}

.register-section {
  padding: 20px 20px;
}

button.mat-raised-button {
  background-color: #5DAA8A !important;
  color: white !important;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 20px;
}

button.mat-raised-button:hover {
  background-color: #4a9a75 !important;
}

/* Contenedor con scroll en móviles */
.table-responsive {
  overflow-x: auto;
  width: 100%;
}

/* Tabla */
table {
  width: 100%;
  min-width: 600px;
  max-width: 1200px;
  border-radius: 15px;
  margin-top: 30px;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

th {
  font-weight: bold;
}

td {
  background-color: #eafaf1;
  border-bottom: 1px solid #d3d3d3;
}

tr:hover {
  background-color: #c8e6c9;
}

/* Espacio después de la tabla */
.table-spacing {
  height: 40px;
}

/* Botones en línea por defecto */
.options-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .main-content {
    margin-left: 250Px;
  }

  th, td {
    font-size: 12px;
    max-width: 150px;
  }

  .options-buttons {
    flex-direction: column;
    align-items: center;
  }
}
