.main-content{
  margin-left: 250px; /* Deja espacio para el sidebar */
  padding: 80px;
  height: 70vh;
  background-color: #F0F9F5; /* Color del espacio en blanco */
}
/* Contenedor del título y línea divisoria */
.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

/* Línea divisoria */
.divider {
  width: 100%;
  border: none;
  border-top: 2px solid #5DAA8A; /* Color de la línea divisoria */
  margin: 10px 0;
}

/* Sección del botón de registro */
.register-section {
  padding: 20px 20px;
}

button.mat-raised-button {
  background-color: #5DAA8A !important; /* Color verde del botón */
  color: white !important; /* Texto blanco */
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 20px;
  margin-top: 20px;
}

button.mat-raised-button:hover {
  background-color: #4a9a75 !important; /* Color de hover */
}

/* Tabla */
table {
  width: 70%; /* Establece el ancho de la tabla al 80% de su contenedor padre */
  max-width: 1200px; /* Establece un ancho máximo si deseas que no se estire más allá de cierto tamaño */
  border-radius: 15px;
  margin-top: 30px;
}

th, td {
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

th {
  font-weight: bold;
}

td {
  background-color: #eafaf1; /* Fondo verde claro para las celdas */
  border-bottom: 1px solid #d3d3d3; /* Línea divisoria entre filas */
}

/* Interactividad con las filas */
tr:hover {
  background-color: #c8e6c9;  /* Color de fondo cuando se pasa el ratón sobre la fila */
}
