.main-content {
  margin-left: 250px;
  padding: 20px 80px 80px 80px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 2px solid #5DAA8A;
  margin: 10px 0;
}

.register-section {
  padding: 20px 20px;
}

button.mat-button {
  padding: 6px 20px;
  background-color: #225A47;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

button.mat-button:hover {
  background-color: #4a9a75;
}

table {
  width: 70%;
  max-width: 1200px;
  border-radius: 15px;
  margin-top: 30px;
}

th,
td {
  text-align: center;
  padding: 10px 10px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

th {
  font-weight: bold;
}

td {
  background-color: #eafaf1;
  border-bottom: 1px solid #d3d3d3;
}

tr:hover {
  background-color: #c8e6c9;
}
