<h2 mat-dialog-title>Edit crop</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Crop type</mat-label>
      <mat-select [(value)]="data.crop.category" name="category">
        <mat-option value="Hortalizas">Vegetables</mat-option>
        <mat-option value="Frutas">Fruits</mat-option>
        <mat-option value="Verduras">Species</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Crop name</mat-label>
      <input matInput [(ngModel)]="data.crop.productName" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Area (m²)</mat-label>
      <input matInput [(ngModel)]="data.crop.area" name="area" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
