<h2 mat-dialog-title>Editar Cultivo</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de cultivo</mat-label>
      <mat-select [(value)]="data.crop.type" name="type">
        <mat-option value="Hortalizas">Hortalizas</mat-option>
        <mat-option value="Frutas">Frutas</mat-option>
        <mat-option value="Verduras">Verduras</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre del cultivo</mat-label>
      <input matInput [(ngModel)]="data.crop.name" name="name" required />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Área (m²)</mat-label>
      <input matInput [(ngModel)]="data.crop.area" name="area" required />
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onConfirm()">Confirmar</button>
</mat-dialog-actions>
