.modal-title {
  background-color: #225a47;
  color: white;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

mat-dialog-content {
  padding: 20px 24px;
  align-items: center;
  background-color: white;

}

.crop-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

mat-form-field {
  width: 100%;

}

.modal-actions {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  gap: 16px;             /* Espacio entre botones */
  padding: 16px 24px;
  background: white;
}

/* Botón Cancelar */
.cancel-btn {
  color: #225a47;               /* Texto verde */
  border: 1px solid #225a47;    /* Borde verde */
  padding: 0 16px;
}

/* Botón Confirmar */
.accept-btn {
  background-color: #225a47 !important;  /* Fondo verde */
  color: white !important;              /* Texto blanco */
  padding: 0 16px;
}
